*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* Global Variables */
:root{
    --primary-color: #edf2ec;
    --secondary-color: #212121;

}

/* Mode Toggler */
.dark-theme{
    --primary-color: #212121;
    --secondary-color: #fff;
}
nav{
    background-color:var(--primary-color);

}
.nav-item{
    /* border: 1px solid tomato; */
    margin: 0 5px;
    padding: 5px 5px;

}
.nav-item a{
    color: lightseagreen;
    transition: 1s;

}
.nav-item a:hover{
    color: lightseagreen;
    border-bottom: 2px solid crimson;

}
.navbar-toggler{
    background-color: lightblue;
}
body{
    /* background-image: url("Images/sebastian.jpg");
    background-size: cover; */
    background-color: var(--primary-color);
    overflow-x: hidden;
}

/* Styling Home Page */
header{
    background-color: var(--primary-color);
    box-sizing: border-box;
    padding: 20px 10px;
}
#mode{
    width:40px;
    background-size: cover;
    border-radius: 50%;
    float: right;
    /* border: 1px solid black; */
    padding: 5px 5px;
    margin: 10px auto;
}
/* == Services Overview Styling== */
.services{
    width: 80%;
    margin: 10px auto;
    text-align: center;
}
.services h2{
width: 237px;
text-align: center;
color: rgb(20, 220, 153);
letter-spacing: 2px;
font-size: 24px;
font-weight: 400;
/* text-transform: uppercase; */
margin: 10px auto;
padding: 10px 10px;
border-bottom: 1px solid var(--secondary-color);
transition: 1s;
}
.services h2:hover{
width: 240px;
color: tomato;
border-bottom: 2px solid rgb(20, 220, 153);
transform: translateX(5px);
}
/* ======== END======== */

.about-me{
    width: 80%;
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    /* justify-content: space-between; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    padding: 70px 40px;
    margin: 20px auto;
    /* border: 1px solid black; */
}
.about-me p{
    padding-top: 20px;
    margin:10px 20px;
    color:var(--secondary-color);
    letter-spacing: 1px;
    line-height: 1.5em;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}
.about-me img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding:5px 5px;
    background-size:cover;
}
#name{
    color:deeppink;
    font-size: bold;
}
#btn{
    border: none;
    background-color: var(--primary-color);
    /* display: none; */
    visibility: hidden;
    /* visibility: visible; */
}
.skills-preview{
    /* border: 1px solid black; */
    width: 80%;
    margin: 0 auto;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    /* gap: 10px; */
    /* flex: 2; */
    /* flex-direction: row; */
    justify-content: space-around;
}
.skill{
    text-align: center;
    margin: 1px auto;
}
.skill img{
    padding:5px 5px;
    width: 290px;
    height: 160px;
    background-size: cover;
    object-fit: cover;
    /* transform: scaleX(1); */
    border-radius: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    animation: translateY 10s infinite linear;
    transition: 1s;
}

/* ======Animations Styling====== */
@keyframes translateY {
    50% {
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes translateX {
    50% {
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
}


    /* =====END====== */
    
.skill img:hover{
    box-shadow:1px 2px 1px 2px var(--secondary-color);
    opacity: 0.7;
    transform: translateY(-1px);
}
.skill h2{
    width: 50%;
    color:crimson;
    text-align: center;
    font-size:20px;
    letter-spacing: 2px;
    font-weight: 400;
    padding: 10px 10px;
    margin: 5px auto;
    border-bottom: 2px solid teal;
}
.skill p{
    padding: 20px 20px;
    color: var(--secondary-color);
    text-align: left;
    font: size 18px;
    letter-spacing:1px;
    line-height: 1.5rem;
}
.advert{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 5px auto;
    justify-content: space-around;
}
.advert p{
    margin-bottom: 30px;
    color: rgb(20, 220, 153);
    font-size: 22px;
    letter-spacing: 1px;
}
.advert img{
    width: 20px;
    height: 20px;
    background-size: cover;
    object-fit: cover;
}
.footer{
    margin: 10px auto;
    padding: 10px 10px;
    background-color: var(--primary-color);
    opacity: 0.7;
    border-top: 3px solid var(--secondary-color);
}
#icons{
    padding: 10px 10px;
    width: 80%;
    margin: 5px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#icons i{
    padding: 10px 10px;
    margin: 5px auto;
}
#icons i img{
    width:25px;
    border-radius:50%;
    background-size:cover;
}
#icons i a{
    margin: 0 5px;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 18px;
    letter-spacing: 1.5px;
}
#copy-rights{
    padding: 10px 10px;
    width: 50%;
    margin: 5px auto;
}
#copy-rights p{
    color: var(--secondary-color);
    margin: 5px auto;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: center;
}

/* Styling About Page */

.skills-container{
    padding: 10px 10px;
    margin: 10px auto;
    /* border: 1px solid red; */
    box-sizing: border-box;
    overflow: hidden;
}
.skills-container h2{
    width: 125px;
    text-align: center;
    color: crimson;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 400;
    /* text-transform: uppercase; */
    margin: 10px auto;
    padding: 10px 10px;
    border-bottom: 1px solid var(--secondary-color);
    transition: 1s;
}
.skills-container h2:hover{
    width: 160px;
    color: tomato;
    border-bottom: 2px solid crimson;
    transform: translateX(5px);
}
.skills, .projects{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    padding: 10px 10px;
    width: 80%;
    margin:0 auto;
}
#skill, #project{
    padding: 10px 10px;
    justify-content: center;
    width: 80%;
    margin: 10px auto;
    /* border: 1px solid black; */
    box-sizing: border-box;
}
#skill img{
    padding:5px 5px;
    width: 290px;
    height: 140px;
    background-size: cover;
    object-fit: cover;
    /* transform: scaleX(1); */
    border-radius: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    transition: 1s;
}
#skill img:hover{
    box-shadow:2px 2px 2px 2px var(--secondary-color);
    opacity: 0.7;
    transform: translateX(-1px);
}
#skill h3{
    text-align: center;
    font-size:20px;
    letter-spacing: 2px;
    font-weight: 400;
    color: rgb(0, 128, 79);
    margin: 5px 0;
}
#skill p{
    color: var(--secondary-color);
    text-align: left;
    font: size 18px;
    letter-spacing:1px;
    line-height: 1.5rem;
}
.Projects-container h2{
    width: 180px;
    text-align: center;
    color: rgb(20, 220, 153);
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 400;
    /* text-transform: uppercase; */
    margin: 10px auto;
    padding: 10px 10px;
    border-bottom: 1px solid var(--secondary-color);
    transition: 1s;
}
.Projects-container h2:hover{
    width: 187px;
    color: tomato;
    border-bottom: 2px solid rgb(20, 220, 153);
    transform: translateX(5px);
}
#project img{
    padding:5px 5px;
    width: 290px;
    height: 160px;
    background-size: cover;
    object-fit: cover;
    /* transform: scaleX(1); */
    border-radius: 2rem;
    box-sizing: border-box;
    overflow: hidden;
    transition: 1s;
    animation: translateX 5s infinite linear;
}
#project img:hover{
    box-shadow:2px 2px 2px 2px var(--secondary-color);
    opacity: 0.7;
    transform: translateX(-1px);
}
#project h3{
    text-align: center;
    font-size:20px;
    letter-spacing: 2px;
    font-weight: 400;
    color: rgb(0, 128, 79);
    margin: 5px 0;
}
#project p{
    color: var(--secondary-color);
    text-align: left;
    font: size 18px;
    letter-spacing:1px;
    line-height: 1.5rem;
}

/* ====Styling contact Page====== */
.form-header{
    width: 50%;
    margin: 10px auto;
}
.form-header h3{
    padding: 20px 10px;
    margin: 10px 0;
    text-transform: uppercase;
    text-align: center;
    font-size:20px;
    letter-spacing: 2px;
    font-weight: 400;
    color: rgb(0, 128, 79);

}
#form{
    width: 50%;
    margin: 10px auto;
    /* border: 1px solid black; */
}
.form{
    width: 70%;
    margin: 10px auto;
    /* border: 1px solid black; */
}
.form label{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
.form input{
    margin: 10px 0;
    padding: 10px 5px;
    display: block;
    width: 90%;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
}

.form textarea{
    margin: 10px 0;
    width: 90%;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    padding:5px 5px;
    color: var(--secondary-color);
    font-size: 18px;
    letter-spacing: 1px;
}
.btn{
    width: 100%;
    margin: 10px auto;
    padding: 10px 10px;
    border: none;
    /* text-align: center; */
    /* border: 1px solid red; */
}
.btn button{
    padding: 5px 15px;
    border-radius: 0.5rem;
    background-color:#005599;
    color: coral;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn button:hover{
    color: deeppink;
    background-color: var(--primary-color);
}

/* Making it Responsive */

@media (max-width: 990px) {
    .skills-preview{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
  
    }
    .skills, .projects{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        padding: 10px 10px;
    }
    .advert{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 700px){


}
@media (max-width: 690px) {
    .skills, .projects{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        padding: 10px 10px;
        }
        #skill, #project{
        padding: 10px 10px;
        justify-content: center;
        width:100%;
        margin: 10px auto;
        /* border: 1px solid black; */
        box-sizing: border-box;
        }
        #skill img , #project img {
            margin: 0 auto;
            width: 100%;
            height: 150px;
        }
        .skills-preview{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(1, 2fr);

        }
        
    .about-me{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
    }
    #icons{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .btn button{
        padding: 6px 8px;
    }
}
@media (max-width: 300px) {
    .about-me{
        margin: 0 auto;
        padding: 5px 5px;
  
    }
    .about-me p{
        font-size: 20px;
    }
    .about-me img{
        width: 100px;
        height: 100px;
    }
    .services h2{
        font-size: 20px;
    }
    .skill img{
        width: 200px;
        height: 100px;
    }
    .advert p{
        font-size: 18px;
    }
    #icons{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    #icons i a{
        font-size: 16px;
    }
    #copy-rights p{
        font-size: 16px;
    }
    .btn button{
        padding: 5px 8px;
    }

}